@import "base.css";

.button-row {
    border-top: var(--color-line);
    padding: var(--gap);

    display: flex;
}

.button-row button {
    margin: 0 var(--gap);
}

.button-text {
    padding: var(--gap);
    /*background-color: var(--ba);*/
    background: inherit;
    color: var(--color-text-highlight);
}

.button {
    padding: var(--gap);
    cursor: pointer;
    border-radius: 3px;
}

    .button-create {
        background-color: #0e7272;
    }

    .button-cancel {
        background-color: #777;
    }

    .button-delete {
        background-color: #d03030;
    }