@import './base.css';
@import './table.css';
@import './buttons.css';
@import './form.css';
@import './layout-elements.css';
@import './vue-final-modal.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.highlight {
  color: var(--color-text-highlight);
}

a {
  text-decoration: none;
  font-weight: 500;
  color: var(--color-text-highlight);
  transition: 0.4s;
  padding: var(--gap-xs);
  margin: var(--gap-xs);
}

.error {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--color-error); /* rgb(255, 17, 17); */
  transition: var(--transition);
  padding: var(--gap);
  white-space: pre-wrap; /* maintain size if text is white space */
}

/*.hidden {  opacity: 0; }*/
/*.visible { visibility: visible; }*/
/*.hidden { visibility: hidden; }*/

.hidden {
  opacity: 0; /* Initially visible */
  transition: opacity 0.3s ease; /* Transition for opacity */
}

.loading {
  opacity: 0.3; /* Initially visible */
  backdrop-filter: blur(5px);
  transition: opacity 0.3s ease; /* Transition for opacity */
  transition: backdrop-filter 0.3s ease; /* Transition for  backdrop-filter */
}

.page {
  margin-top: var(--gap-xl);
  /*border: solid 10px var(--color-border);*/
}

.page-title {
  font-size: 1.5rem;
  color: var(--color-text-heading);
  /*border-bottom: solid 1px var(--color-border);*/
  font-weight: 600;
  margin-bottom: var(--gap);
}

@media (hover: hover) {
  a:hover {
    /*background-color: hsla(160, 100%, 37%, 0.2);*/
    /*background-color: rgba(255,255,255, .05);*/
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.4);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    /*place-items: center;*/ /* nice for landing page, but not operative page */
    margin-top: var(--gap-xl);
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 0 2rem;
  }
}

/* text.css  */

h1 {
  color: var(--color-heading);
  margin-bottom: var(--gap-xl);
}
