@import './base.css';

table {
  border-collapse: collapse;
  _line-height: 0.8;
  _border: solid 1px;
  border-radius: var(--border-radius-xs);
  background-color: rgba(24, 26, 48, 0.05); /* Semi-transparent white background */
  /*border-color: var(--border-color);   
    border-bottom-color: var(--border-color-shadow);
    border-right-color: var(--border-color-shadow);
    */
  _border-color: var(--border-color) var(--border-color) var(--border-color-shadow) var(--border-color-shadow);
}

tr {
  background-color: var(--color-background-mute);
  border-bottom: solid 1px var(--color-alternative);
}

tr.clickable:hover {
  border-bottom: solid 1px var(--color-highlight);
}

tr:nth-child(even) {
  background-color: var(--color-background-soft);
}

td {
  padding: 0 var(--gap);
}

th {
  color: var(--color-text);
  _color: #333333;
  _background: radial-gradient(ellipse at center, #ff7f50 30%, #ff571a 100%);
  /*_background2:  #FF7F50;  */
  background-color: var(--color-alternative);
  font-weight: 600;
}

th:first-child {
  border-radius: var(--border-radius) 0 0 0;
}

th:last-child {
  border-radius: 0 var(--border-radius) 0 0;
}

tr.clickable:hover {
  border-bottom: 1px solid var(--color-highlight);
}
